* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    color: black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }

  .searchbar {
    height: 100%;
  }

  .searchbar #search{
    border: 1px solid #CCC;
    color: #999;
    float: left;
    font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
    height: 3rem;
    padding: 10px;
    width: 800px;
}
    .searchbar #submit{
        background-color: #e87500;
        border: 0.01rem solid #e87500;
        border-radius: 0.1rem;
        color: #fafafa;
        cursor: pointer;
        height: 3rem;
        float: right;
        font: 1rem Arial, Helvetica;
        padding: 0;
        text-transform: uppercase;
        text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
        width: 5rem;
    }


  
  .brand-title {
    font-size: 2.5rem;
    margin: 0.5rem;
  }
  .brand-title a {
    text-decoration: none;
    color: black;
    
  }
  .brand-title img {
    width: 130px;
    padding-top: 8%;
    padding-left: 15%;
  }
  
  .navbar-links {
    height: 100%;
  }
  
  .navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    list-style: none;
    font-size: 1.2rem;
  }
  
  .navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
  }
  
  .navbar-links li:hover {
    background-color: white;
  }
  
  .toggle-button {
    position: absolute;
    top: 3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }
  
  .middle_text {
    margin-top: 10rem;
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 4rem;
    text-align: center;
    text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%),
      0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%),
      0 5px 0 hsl(174, 5%, 64%), 0 6px 0 hsl(174, 5%, 62%),
      0 7px 0 hsl(174, 5%, 61%), 0 8px 0 hsl(174, 5%, 60%),
      0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2),
      0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
      0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
  }
  .middle_text p {
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 4rem;
    text-align: center;
    text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%),
      0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%),
      0 5px 0 hsl(174, 5%, 64%), 0 6px 0 hsl(174, 5%, 62%),
      0 7px 0 hsl(174, 5%, 61%), 0 8px 0 hsl(174, 5%, 60%),
      0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2),
      0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
      0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
  }
  
  @media (max-width: 800px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .toggle-button {
      display: flex;
    }
  
    .navbar-links {
      display: none;
      width: 100%;
    }
  
    .navbar-links ul {
      width: 100%;
      flex-direction: column;
    }
  
    .navbar-links ul li {
      text-align: center;
    }
  
    .navbar-links ul li a {
      padding: 0.5rem 1rem;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .middle_text {
      font-size: 2.5rem;
      margin-top: 40%;
      padding: 2%;
      text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%),
        0 0px 0 hsl(174, 5%, 70%), 0 0px 0 hsl(174, 5%, 66%),
        0 0px 0 hsl(174, 5%, 64%), 0 0px 0 hsl(174, 5%, 62%),
        0 0px 0 hsl(174, 5%, 61%), 0 0px 0 hsl(174, 5%, 60%),
        0 0 5px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.2),
        0 3px 5px rgba(0, 0, 0, 0.2), 0 2.5px 5px rgba(0, 0, 0, 0.2),
        0 10px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.3);
    }
    .middle_text p {
      font-size: 2rem;
      text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%),
        0 0px 0 hsl(174, 5%, 70%), 0 0px 0 hsl(174, 5%, 66%),
        0 0px 0 hsl(174, 5%, 64%), 0 0px 0 hsl(174, 5%, 62%),
        0 0px 0 hsl(174, 5%, 61%), 0 0px 0 hsl(174, 5%, 60%),
        0 0 5px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.2),
        0 3px 5px rgba(0, 0, 0, 0.2), 0 2.5px 5px rgba(0, 0, 0, 0.2),
        0 10px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.3);
    }
  }